<h1 mat-dialog-title>{{tituloAccion}} Alumno</h1>

<div mat-dialog-content>
    <form [formGroup]="formAlumno" class="row g-2">
        <mat-grid-list cols="2" rowHeight="6:2">
            <mat-grid-tile class="col-12">
                <mat-form-field appearance="outline">
                    <mat-label>Nombres</mat-label>
                    <input matInput formControlName="nombres">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile class="col-12">
                <mat-form-field appearance="outline">
                    <mat-label>Apellido Paterno</mat-label>
                    <input matInput formControlName="aPaterno">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Apellido Materno</mat-label>
                    <input matInput formControlName="aMaterno">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline" class="contenedorfecha">
                    <mat-label>Fecha Nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="fechaNacimiento">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 color="primary"></mat-datepicker>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Dni</mat-label>
                    <input matInput formControlName="dni">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Correo</mat-label>
                    <input matInput formControlName="correo">
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>

    </form>
</div>
<div mat-dialog-actions class="justify-content-center">
    <button mat-raised-button mat-dialog-close color="warn">Volver</button>
    <button mat-raised-button (click)="addEditAlumno()" [disabled]="formAlumno.invalid" color="primary">{{botonAccion}}</button>
</div>